<!-- ============================== CONTACT ME ================================ -->
<section id="contact-sec">

<div class="prices-container">
  <div class="prices">

    <h1 class="prices-label" data-aos="fade-left" style="padding-bottom:20px;">
      Our Prices
    </h1>

    <div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="GEO 6-38" src="../../assets/images/geo_6-38.jpg" data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text">DSCCT</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><a href = "mailto:raenergysolution@gmail.com">Get a quote</a> </button>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="GEO 7"  src="../../assets/images/geo_7.jpg" data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text">DUCT</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><a href = "mailto:raenergysolution@gmail.com">Get a quote</a> </button>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="GEO 4KM" src="../../assets/images/geo_4km.jpg" data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text">DCRT</p>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><a href = "mailto:raenergysolution@gmail.com">Get a quote</a> </button>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>



  </div>


</div>




</section>