.container-fluid {
    font-family: 'STIX Two Text', serif;
    background-color: #77856b;
    padding-left: 0;
    padding-right: 0;
    padding-top: 150px;
}

#website-header {
   text-align: center;
   padding-top: 10px;
   /* font-family: 'Dancing Script', cursive; */
   font-family: 'Koulen', cursive;
}

.navbar {
    padding-right: 70px;
    padding-left: 50px;
}

.bg-light {
  background-color: rgb(68, 65, 65) !important;
}

a, a:hover {
  color: #77856b;
  font-family: 'Playfair Display', serif;
}


@media only screen and (max-width: 1040px) {

  .container-fluid {
    font-family: 'STIX Two Text', serif;
    background-color: #77856b;
    padding-left: 0;
    padding-right: 0;
    padding-top: 225px;
    font-size: 0.90rem;
  }

  a {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .navbar {
    padding-bottom: 15px;
  }

}