a {
    color: rgb(218, 209, 209);
    font-family: 'STIX Two Text', serif;
    margin-top: 20px;
    text-decoration: none;
}

img {
    margin-top: 90px;

}

img:hover {
    transition: transform .8s ease;
    transform: scale(1.5); 
}

.product-container {
    margin-left: 400px;
    margin-right: auto;
}

.products-label {
    font-family: 'Playfair Display', serif;
}

@media only screen and (max-width: 1040px) { 
    .product-container {
        margin-left: auto;
        margin-right: auto;
    }

    img {
        margin: auto;
    }
}