<section id="product-sec" style="margin-bottom: 100px;">

  <h1 data-aos="fade-down" style="text-align:center;margin-bottom: 50px;" class="products-label"> Products</h1>

    <div class="product-container" >
      <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                  <h2 class="h2-header">GEO 6-38</h2>
                  <h3>Purpose</h3>
                  <p>Downhole self-contained combined tool GEO-6 descends into the well on the wire and produces up to seven registration parameters (pressure PRES, temperature TEMP, gamma-rays GK, bottom flow-meter FLOW, additional upper flow-meter FLOW2 or capacitance water holdup VL, casing collar locator CCL, stream thermal indication STI).
                      One of the channels of the flowmeter can be reversible, i.e. to show the flow direction.
                      Information from the sensors is received in a block memory of the tool that stores data at all times during measurement. Tool powered by lithium batteries or accumulator.
                  </p>
                  <h4> <a href="../../assets/docs/6.pdf">Technical characteristics</a> </h4>
                </div>

                <div class="col-lg-6" data-aos="flip-right" data-aos-delay="1000">
                    <img class="ttu-img" src="../../assets/images/geo_6-38.jpg" alt="GEO 6-38" width="300" height="400">
                </div>
            </div>

              <hr class="hr-between-campuses">

              <div class="row">
                  <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                    <h2 class="h2-header">GEO 7 (Downhole Universal Combined Tool) </h2>
                    <h3>Purpose</h3>
                    <p>
                      GEO-7- new combined multi-purpose tool that allows you to work in both the cable and self-contained modes. Also self-contained mode is available, when tool works in cable mode. The information is recording into the internal memory of the tool. Thus, increasing reliability of operation – it is always possible to get the recorded information from the internal memory if a logging panel fails. In addition it should be kept in mind that the information at the logging panel records in depth format, but the information at the internal memory of the tool records in time format, So, you can get a full data of the work (in time or on the depth) with GEO-7 tool on the well.
                    </p>
                    <h4> <a href="../../assets/docs/7.pdf">Technical characteristics</a> </h4>
                  </div>
  
                  <div class="col-lg-6" data-aos="flip-right" data-aos-delay="1000">
                      <img class="ttu-img" src="../../assets/images/geo_7.jpg" alt="GEO 7" width="300" height="400">
                  </div>
              </div>

              <hr class="hr-between-campuses">

              <div class="row">
                  <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                    <h2 class="h2-header">GEO-4KM (Downhole Combined Remote Tool)  </h2>
                    <h3>Purpose</h3>
                    <p>
                      Downhole Combined Remote Tool GEO-4K (hereinafter, the tool) lowers into the well on a geophysical cable. The tool registers the following parameters: pressure P, temperature T, gamma-rays GR, continuous bore spinner (top or bottom) CBS, full bore spinner FBS, capacitance water holdup CWH, induction resistivity RES, casing collar locator CCL, stream thermal indication STI.
                    </p>
                    <h4> <a href="../../assets/docs/GEO-4KM.pdf">Technical characteristics</a> </h4>
                  </div>
  
                  <div class="col-lg-6" data-aos="flip-right" data-aos-delay="1000">
                      <img class="ttu-img" src="../../assets/images/geo_4km.jpg" alt="GEO-4KM" width="300" height="400">
                  </div>
              </div>

        </div>

    </div>

    
</section>