<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <link rel="stylesheet" href="home-page.component.css">
      </head>

<section id="top-section">

    <div class="top-container">
        <!-- <img class="image1"
            src="https://images.pexels.com/photos/162568/oil-pump-jack-sunset-clouds-silhouette-162568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="image"> -->

            <img class="image1"
            src="https://images.unsplash.com/photo-1516199423456-1f1e91b06f25?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1149"
            alt="image">

        <div class="another-top-container">
            <h1 class="name-header">R&A Energy Solution LLC</h1>
            <h2 class="pb-header">Permain Basin</h2>

        </div>
    </div>
</section>

<hr>

<body>
    
    <!-- ============================== OUR COMPANY ================================ -->
    <section id="company-sec">

        <h1 class="our-company-header">Our company</h1>

        <div class="company-container">
            <div class="container-fluid">
                <div class="row">
                    <div data-aos="zoom-in" data-aos-delay="100">
                        <div class="company-description">
                            <h3 class="we-operate-header">We operate in Midland Texas</h3>
                            <h4 class="we-operate-header">Since 2021</h4>
                            <p class="company-purpose">
                                R&A Solution LLC is engaged in productive activities for the development and
                                manufacturing of modern tools and equipment for geophysical methods of research of wells
                                during drilling and operation of oil and gas fields.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>


<!-- ============================== ANIMATION SCRIPTS ================================ -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</html>