<section class="contact-section">

    <div class="top-container">
        <img class="image1"
            src="https://images.pexels.com/photos/162568/oil-pump-jack-sunset-clouds-silhouette-162568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="image">

        <div class="another-top-container">
            <h1 class="name-header" data-aos="fade-right">Email Us</h1>
            <h2 class="email-header">raenergysolution@gmail.com</h2>
            <h2 class="tel-header">Tel: 1-432-741-09-47</h2>
        </div>
    </div>
</section>