<section class="contact-section">

    <div class="top-container">
        <!-- <img class="image1"
            src="https://images.pexels.com/photos/162568/oil-pump-jack-sunset-clouds-silhouette-162568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="image"> -->

            <img class="image1"
            src="https://images.unsplash.com/photo-1516199423456-1f1e91b06f25?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1149"
            alt="image">


        <div class="another-top-container">
            <h1 class="name-header">Contact Us</h1>
            <h2 class="email-header">raenergysolution@gmail.com</h2>
            <h2 class="tel-header">Tel: 1-432-741-09-47</h2>
        </div>
    </div>
</section>