.image1 {
    height: 100%;
    width: 100%;
    filter: brightness(60%);
    position: relative;
}

.top-container {
    position: relative;
    height: 50%
}

.another-top-container {
    position: absolute;
    color: #e0dede;
    font-family: 'Cinzel', serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 180px;
    text-align: center;
}

.name-header {
    padding-bottom: 20px;
    color: rgb(233, 223, 223);
    font-size: 4.5rem;
    opacity: 0.9;
}

.contact-section {
    margin-top: -150px;
}

/* for mobile versions */
@media only screen and (max-width: 1040px) {

    .another-top-container {
        padding-top: 25px;
        padding-bottom: 0px;
    }

    .company-container {
        text-align: center;
    }

    .company-description {
        text-align: center;
    }

    .name-header {
        margin-top: 30px;
        font-size: 2rem;
    }

    .email-header, .tel-header {
        font-size: 1rem;
    }

    .contact-section {
        margin-bottom: 550px;
    }

}